<!-- Describe task in general -->

<p>
    Перед тим, як розв'язати цю місію, ви можете спробувати розв'язати місію <a target="_blank" href="/mission/brackets/">"Brackets"</a>.
</p>

<p>
    Ваше завдання - відновити баланс відкритих і закритих дужок, видаливши зайві, намагаючись при цьому використати мінімальну кількість видалень.
</p>

<p>
    У заданому рядку можна використовувати лише 3 типи дужок <b>"()", "[]", "{}"</b>.
</p>

<p>
    Закривати дужку може тільки кругла дужка. Тобто, у цьому виразі <b class="code">"(}"</b> - дужки не збалансовані. У порожньому рядку, тобто в рядку, який не містить жодної дужки - дужки збалансовані, але видалення всіх дужок не вважається оптимальним рішенням.
</p>

<p>
    Якщо є кілька правильних відповідей, то слід вибрати ту, де символ, який можна видалити, знаходиться ближче до початку. Наприклад, у цьому випадку <b class="code">"[(])"</b>, правильною відповіддю буде <b class="code">"()"</b>, оскільки дужки, які можна прибрати, знаходяться ближче до початку рядка.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span> символів "(, ), {, }, [, ]".
</p>

<p>
   <strong>Вихідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span> символів "(, ), {, }, [, ]".
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Пояснення:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
