<!-- Describe task in general -->

<p>
    Bevor Sie diese Mission lösen, können Sie versuchen, die Mission <a target="_blank" href="/mission/brackets/">"Brackets"</a> zu lösen.
</p>

<p>
    Ihre Aufgabe ist es, das Gleichgewicht zwischen offenen und geschlossenen Klammern wiederherzustellen, indem Sie die überflüssigen Klammern entfernen und dabei versuchen, so wenig wie möglich zu löschen.
</p>

<p>
    In der gegebenen Zeichenfolge können nur 3 Arten von Klammern <b>"()", "[]", "{}"</b> verwendet werden.
</p>

<p>
    Nur eine Klammer kann eine Klammer schließen. Das heißt, in diesem Ausdruck <b class="code">"(}"</b> - sind die Klammern nicht ausgeglichen. In einer leeren Zeichenkette, d.h. in einer Zeichenkette, die keine Klammern enthält, sind die Klammern ausgeglichen, aber das Entfernen aller Klammern wird nicht als optimale Lösung angesehen.
</p>

<p>
    Wenn es mehr als eine richtige Antwort gibt, sollten Sie diejenige wählen, bei der das Zeichen, das entfernt werden kann, näher am Anfang liegt. In diesem Fall <b class="code">"[(])"</b> lautet die richtige Antwort zum Beispiel <b class="code">"()"</b>, da die entfernbaren Klammern näher am Anfang der Zeile liegen.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Eine Zeichenfolge <span>(str{% if is_js %}ing{% endif %})</span> aus den Zeichen "(, ), {, }, [, ]".
</p>

<p>
   <strong>Ausgabe:</strong> Eine Zeichenfolge <span>(str{% if is_js %}ing{% endif %})</span> aus den Zeichen "(, ), {, }, [, ]".
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
